/*CSS PARA A FINALIZAÇÃO DAS COMPRAS CRIADA NOARQUIVO FINALIZAR.PHP*/
.services-container {
    max-width: 100%;
    padding: 20px 10%;
    padding-bottom: 1px;
	background-color: rgba(192, 192,192, 0.8);
}

.service-box {
    width: 100%;
    position: relative;
    height: 200px;
    margin-bottom: 0px;
}


.service-img{
    width: 20%;
    height: 100px;
    float: left;
    text-align: center;
    line-height: 100px;
    padding: 5px;
    box-sizing: border-box;
}


.service-description {
    width: 80%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
}

.service-description h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.service-description h2 {
    font-size: 20px;
    font-weight: bold;
	text-align: center
}


.service-description p {
    font-size: 14px;
    line-height: 22px;
}

#gerenciamento-title {
    color: #2364AA
}

.finalcheck{
	max-width: 100%;
	padding: 30px 0%;
	position: relative;
	clear: both;
	background-color:#98FF98;

}
