/*CSS PARA FINS GERAIS IMAGEM DO BACK DO SITE E TAMBÉM PARA OS ITENS DA LOJA*/
.backall{
	background-image: url('/www/sitepac/img/compras.png');
	opacity:2.0;
}
.about-container {
	max-width: 1500px;
	padding: 30px 0%;
	position: relative;
	clear: both;
}

.about-card {
	float: right;
	width: 30%;
	padding: 30px;
	background-color: rgba(192, 192, 192, 0.7);
	text-align: center;
	box-sizing: border-box;
	height:80%;
}

.middle-card {
	margin-left: 5%;
	margin-right: 5%;
}

.about-card p {
	margin-top: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}
.img-fluid{
	max-height:30%;
}